[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    raise NotImplementedError

    # Don't complain about representations not being covered
    __repr__
