language: python
python:
- '3.6'
cache: pip
install:
- pip install -r dev-requirements.txt
- pip install -e .
script:
- make tests
- make docs
deploy:
  provider: pypi
  user: tillahoffmann
  password:
    secure: o7ANxRWNMV/RlwEw37lvkOngE9UUNQag+gs4PmGy9S8rawKtx3WMf7Wu1kUvVfGYBeAR5cFEpezkEpggAYjmnFVG4HtFCQuvXh8jvfBlYsqtruEWC2YS5JOTI9yCEx3FEpcnsyqxkB7t5TAP5zJxLAZXwH0w60ORpNHoVBlzc0xy0QgUmbmcfFuHJqIqN0qRxGMXwFyakpxHrZP3irD8iBkLgNPY96yy9WqQFIZGCzyQalzsPcjVKoqJsjWjBMaG91u46izHC+8+zHwlmmG7gHjS5L/Zl7TjTlzgt1eGYOKXlHw7TDcPNoL4V5ldB5PX/dh+0LvmoCYmg7TzY2gCD5U0nPapEeWbYWoPRmJXLxRt9pjZmnIsBmluTnDqO18PBVfZw0rupRUQhl2APvSMzqxTAS4QHYxmO5739xYrkL21E4aX+V98FxWL4ujAxNFqHNWun+RKsQN5PO5wRSpQm0GQhUU+agVivBAQFvxgFlVZGaKxOrGDBOopMpgMZeKXc2E7Rle6qEcmTw4OgTUunjOE8YM5yyQjahtJ7zs0IjAx2p8qh2wKqRFZxYQx22adUWltr79YmrQrqJK+a1o+rcVkxvNOsiwRYFvH0HZhaYBOAabJAd7km6nlPEChKmYdqnpvE3JXPHdTyJVVwOo3au5r1+JPO45+OZZQTUOBGYM=
