twine==1.9.1
sphinx==1.6.3
sphinx_rtd_theme==0.2.4
pytest==3.2.1
pytest-cov==2.5.1
pylint==1.8.1
jupyter>=1.0.0
ipyparallel==6.0.2
tensorflow==1.4.0
nbsphinx==0.2.16
pandoc==1.0.2
scikit-learn==0.19.1
scipy==1.0.0
matplotlib==2.1.0
ipywidgets==7.0.4
tqdm==4.19.4
line_profiler==2.0
pyzmq==17.0.0
imageio==2.2.0
